<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="navbar">
            <nav class="navbar bg-base-100 sticky top-0 z-30 flex w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100
  text-primary-content">
                <div class="navbar-start">
                    <div class="dropdown">
                        <label tabindex="0" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                        </label>
                        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a>Item 1</a></li>
                            <li tabindex="0">
                                <a class="justify-between">
                                    Parent
                                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
                                </a>
                                <ul class="p-2">
                                    <li><a>Submenu 1</a></li>
                                    <li><a>Submenu 2</a></li>
                                </ul>
                            </li>
                            <li><a>Item 3</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-ghost normal-case text-xl">WeddingGame</a>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal p-0">
                        <th:block th:if="${#authentication.principal != 'anonymousUser'}">

                            <li><a href="/hochzeit">Verwaltung</a></li>
                            <li><a href="/hochzeit">Verwaltung</a></li>
                            <li><a href="/hochzeit">Verwaltung</a></li>

                        </th:block>

                        <li tabindex="0" >
                            <a>
                                Parent
                                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                            </a>
                            <ul  class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                                <li><a>Submenu 1</a></li>
                                <li><a>Submenu 2</a></li>
                            </ul>
                        </li>
                        <li><a>Item 3</a></li>
                        <li><a>Item 3</a></li>
                    </ul>
                </div>
                <div class="navbar-end">
                    <th:block th:unless="${#authentication.principal != 'anonymousUser'}">
                        <a class="btn btn-outline" href="/login">Get started</a>
                    </th:block>
                    <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                        <span class="mx-2">Hallo [[${#authentication.principal.attributes['name']}]]</span>
                        <div class="dropdown dropdown-end">
                            <label tabindex="0" class="btn btn-ghost h-16">
                                <img class="h-16" tabindex="0" src="/svg/user.svg">
                            </label>
                            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mt-4">
                                <li><a>Item 1</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </nav>
        </th:block>
</body>
</html>
