<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Dein Hochzeitsevent</title>
</head>
<body>
<section layout:fragment="page-content">
    <div class="from-primary to-secondary text-primary-content -mt-[4rem] grid place-items-center items-end bg-gradient-to-br pt-20">
        <div class="hero-content col-start-1 row-start-1 w-full max-w-7xl flex-col justify-between gap-10 pb-40 lg:flex-row lg:items-end lg:gap-0 xl:gap-20">
            <div class="lg:pl-10 lg:pb-32">
                <div class="mb-2 py-4 text-center lg:py-10 lg:text-left">
                    <h1
                        class="font-title mb-2 text-5xl font-bold sm:text-7xl lg:text-8xl">
                        Dein Hochzeitsevent
                    </h1>
                    <h2 class="font-title text-2xl font-bold sm:text-4xl lg:text-5xl">
                        Mache unglaubliche Erinnerungen auf deiner Hochzeit
                    </h2></div>
                <div class="mt-4 flex flex-1 justify-center space-x-2 lg:mt-6 lg:justify-start"><a
                        href="/components"
                        class="btn btn-ghost btn-active lg:btn-lg normal-case">
                    <span class="hidden sm:inline">See components</span>
                    <span class="inline sm:hidden">Components</span></a>
                    <a class="btn lg:btn-lg normal-case">How to use?</a>
                </div>
            </div>
        </div>
        <svg class="fill-secondary col-start-1 row-start-1 h-auto w-full" width="1600" height="595"
             viewBox="0 0 1600 595" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 338L53.3 349.2C106.7 360.3 213.3 382.7 320 393.8C426.7 405 533.3 405 640 359.3C746.7 313.7 853.3 222.3 960 189.2C1066.7 156 1173.3 181 1280 159.2C1386.7 137.3 1493.3 68.7 1546.7 34.3L1600 0V595H1546.7C1493.3 595 1386.7 595 1280 595C1173.3 595 1066.7 595 960 595C853.3 595 746.7 595 640 595C533.3 595 426.7 595 320 595C213.3 595 106.7 595 53.3 595H0V338Z"></path>
        </svg>
    </div>
    <div class="w-full flex justify-around my-8">
        <div class="mockup-phone">
            <div class="camera"></div>
            <div class="display">
                <div class="artboard artboard-demo phone-1">
                    <img src="/img_1.png">
                </div>
            </div>
        </div>
        <div class="mockup-phone">
            <div class="camera"></div>
            <div class="display">
                <div class="artboard artboard-demo phone-1 object-cover">
                    <img class="h-full max-w-fit object-right" src="/img_3.png">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<th:block layout:fragment="page-scripts">
    <script>
    </script>
</th:block>
</html>
