<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="de"
      layout:decorate="~{layout/layout}">
<head>
    <title>Hochzeit</title>
</head>
<body layout:fragment="page-content">
    <div style="right: 0" class="background_flowers"></div>
    <div style="left: 0" class="background_flowers"></div>
    <div class="contentContainer">
        <h1>Fotosafari</h1>
        <p class="text-3xl">[[${wedding}]]</p>
        <h3 style="">Hier könnt ihr eure Bilder von unserer Hochzeit hochladen.</h3>
        <form id="form" hx-post="/api/image/upload" hx-encoding="multipart/form-data" hx-swap="outerswap">
            <label for="files">Wähle deine Bilder aus:</label><br>
            <input type="file" id="files" name="images" placeholder="Keine Bilder ausgewählt" multiple><br><br>
            <label for="fullName">Dein Vor- und Nachname:</label><br>
            <input style="margin-bottom: 10px" type="text" id="fullName" name="fullName" placeholder="optional">
            <input type="submit" name="submit">
            <div class="htmx-indicator" >
                <br>
                <img id="indicator"  src="/svg/hearts.svg">
                <p>Wird hochgeladen:</p>
                <progress id='progress' value='0' max='100'></progress>
            </div>
        </form>
        <img id="bride" src="/images/AlinaxAndreas-2.webp">
    </div>

</body>
