<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:fragment="uploadImages">
async function uploadImage(file, folderId, subfolderId, fullName, fileName) {
        let imageDTO = {
            uploadUrl: '',
            objectName:'',
            fullName: fullName,
            fileName: fileName,
        }
        let uploadUrl = '/api/image/getUploadUrl?folderId='+folderId + '&fileName=' + fileName + '&subfolderId=' + subfolderId
        if(fullName){
            uploadUrl = uploadUrl + '&fullName=' + fullName
        }
        let response =
            await fetch(uploadUrl, {
                method: 'GET'
            })
        let json = await response.json()
        imageDTO.uploadUrl = json.uploadUrl
        imageDTO.objectName = json.objectName
        if (response.ok){
            let uploadResponse = await fetch(imageDTO.uploadUrl, {
                method: 'PUT',
                body: file
            })
            if(uploadResponse.ok){
                let createImageResponse = await fetch('/api/image/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(imageDTO),

                })
                if(createImageResponse.ok){
                    console.log("Uploaded "+ fileName)
                }else {
                    console.error(createImageResponse)
                }
            }else {
                console.info(uploadResponse)
            }

        }


    return false
}
</script>
</body>
</html>
