<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>[[${task.title}]]</title>
</head>
<body layout:fragment="page-content" th:attr="data-theme=${wedding.theme}" class="min-h-screen">
    <div  th:fragment="task">
        <div x-data="{ files: null, fullName: null, loading: false}" class="flex flex-col ">
            <h1 class=" text-5xl font-semibold text-center py-20 mx-8">[[${task.title}]]</h1>

            <div class="p-10 sm:rounded-xl flex flex-col items-center gap-10 mx-auto bg-base-300">
                <div class="flex flex-col items-center">
                    <label class="label flex justify-center">
                        <span class="text-4xl mb-4">Mache das Foto und lade es hoch!</span>
                    </label>
                    <input x-ref="fileSelector" style="display: none" type="file" multiple="true"
                           x-on:change="files = Object.values($event.target.files)">
                    <span x-text="files ? files.map(file => file.name).join(', ') : ''"></span>
                    <button class="btn btn-secondary btn-lg" @click="$refs.fileSelector.click()">Bilder auswählen</button>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="text-4xl mb-4">Dein Vor- und Nachname:</span>
                    </label>
                    <input type="text" id="fullName" name="fullName" placeholder="Max Mustermann" class="input input-bordered"/>
                </div>
                <button class="btn btn-primary btn-lg"
                        @click="loading = true; loading = await callUploadImages(files,fullName)">
                        Bilder hochladen
                </button>
            </div>


            <div x-show="loading">
                <div class="flex justify-center">
                    <img class="h-64" style="transition: opacity 800ms ease-in;" src="/svg/hearts.svg">
                </div>
                <p  class="text-4xl text-center">Wird hochgeladen</p>
            </div>

<!--            <div id="imageContainer" class="my-10 h-80 bg-[url('/svg/Blumen_90.svg')] justify-center" >-->

<!--            </div>-->
            <div id="imageContainer"
                 class="w-full max-w-4xl my-10 mx-auto h-80 md:h-[30rem]  bg-[url('/images/AlinaxAndreas-2.webp')] shadow-black shadow-2xl justify-center bg-center bg-no-repeat bg-cover" >

            </div>

        </div>

    </div>
    <script>
        async function callUploadImages(files, fullName) {
            for(const file of files){
                await uploadImage(file, '[[${wedding.folderId}]]', '[[${task.uuid}]]', fullName, file.name)
            }
            return false
        }
    </script>
<div th:insert="scripts :: uploadImages"></div>
</body>
