<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>[[${task.title}]]</title>
</head>
<body layout:fragment="page-content" th:attr="data-theme=${wedding.theme}" class="min-h-screen">
    <div  class="" th:fragment="task">
    <!-- style="--p : 126 100% 72%;"  bg-gradient-to-b from-primary to-secondary TODO: Different backgrounds -> gradients base color customizing-->
        <div x-data="{ files: null, fullName: null, loading: null}" class="flex flex-col ">
            <h1 class=" text-7xl font-semibold text-center py-20 mx-8">[[${task.title}]]</h1>

            <div class="p-10 sm:rounded-xl flex flex-col items-center gap-10 mx-auto bg-base-300">
                <div class="flex flex-col items-center">
                    <label class="label flex justify-center">
                        <span class="text-4xl mb-4">Mache das Foto und lade es hoch!</span>
                    </label>
                    <input x-ref="fileSelector" style="display: none" type="file" multiple="true"
                           x-on:change="files = Object.values($event.target.files)">
                    <span x-text="files ? files.map(file => file.name).join(', ') : ''"></span>
                    <button class="btn btn-secondary btn-lg" @click="$refs.fileSelector.click()">Bilder auswählen</button>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="text-4xl mb-4">Dein Vor- und Nachname:</span>
                    </label>
                    <input type="text" id="fullName" name="fullName" placeholder="Max Mustermann" class="input input-bordered"/>
                </div>
                <button class="btn btn-primary btn-lg" @click=" loading = true; loading = await uploadImages(files, fullName);">Bilder hochladen</button>
            </div>


            <div x-show="loading">
                <div class="flex justify-center">
                    <img class="h-64" style="transition: opacity 800ms ease-in;" src="/svg/hearts.svg">
                </div>
                <p  class="text-4xl text-center">Wird hochgeladen</p>
            </div>
            <div class="h-80 bg-[url('/svg/Blumen_90.svg')]" >

            </div>
        </div>

    </div>
<div th:insert="scripts :: uploadImages"></div>
</body>
